In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("../data/Library_Usage.csv")
df.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN

In [27]:
#Die Spalte "Circulation Active Year" ist als Text gespeichert. Sie soll in ein
#numerisches Format konvertiert werden mit der Methode pd.to_numeric()
#Die Variable 'Circulation Active Year' soll mit den neuen Werten überschrieben werden
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [20]:
df.head(10)
#Erneute Anzeige der Tabelle zeigt, dass die o.g. Werte in der Spalte umgewandelt wurden.

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,NaN,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014.0,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015.0,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016.0,z,email,True,2013,False,NaN

In [28]:
#Die Spalte "Circulation Active Month" enthält die Monatsnamen als gespeichert. 
#Diese sollen in ein numerisches Format konvertiert werden. 
#Zuerst die Spalte in ein Datumsformat konvertieren mit der Funktion pd.to_datetime
#Die Variable soll mit den neuen Werten überschrieben werden
df['Circulation Active Month'] = pd.to_datetime(df['Circulation Active Month'], errors='coerce', format="%B")
df['Circulation Active Month']

0               NaT
1        1900-04-01
2               NaT
3               NaT
4        1900-01-01
            ...
423443   1900-03-01
423444   1900-07-01
423445   1900-07-01
423446   1900-04-01
423447          NaT
Name: Circulation Active Month, Length: 423448, dtype: datetime64[ns]

In [16]:
#Nun aus diesen Zahlen den Monat extrahieren
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

AttributeError: Can only use .dt accessor with datetimelike values

In [24]:
#Nun kann die aktive Mitgliedschaftsdauer in Monaten berechnet werden
#Das Ergebnis soll in eine neue Spalte "Membership Duration" geschrieben werden
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

TypeError: unsupported operand type(s) for +: 'numpy.ndarray' and 'DatetimeArray'

In [25]:
#Es gibt fehlende Werte in dieser Spalte. Diese sollen mit 0 (null) ersetzt werden.
#D.h. alle NaN-Werte sollen mit 0 ersetzt werden. 
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

KeyError: 'Membership Duration'