In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/Library_Usage.csv")

In [4]:
#Die Spalte "Circulation Active Year" ist Text. Sie soll in ein
#numerisches Format konvertiert werden mit der Methode pd.to_numeric()
#
pd.to_numeric(df['Circulation Active Year'], errors='coerce')

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64