In [2]:
#Kategoriale Variablen (nominale und ordinale) werden in Häufigkeitstabellen zusammengefasst.

In [3]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
#Mit der Methode value_counts() kann man sich absolute Häufigkeitstabellen ausgeben lassen.
#D.h. hier die absolute Häufigkeit jedes Elements in der Series Age Range ausgeben lassen: 
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [3]:
#Mit dem zusätzlichen Argumentaufruf normalize=True werden relative Häufigkeiten berechnet:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [4]:
#Der Modus einer Datenreihe ist das Merkmal/der Wert mit der größten Häufigkeit und wird mit mode() aufgerufen:
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

#Aufgabe 3.1: Häufigkeitsverteilung für die Variable "Year Patron Registered" erstellen

In [6]:
#Gleich die prozentualen Werte ausgeben lassen
df['Year Patron Registered'].value_counts(normalize=True)

2003    0.163555
2015    0.127409
2014    0.122570
2013    0.113948
2012    0.088311
2011    0.062655
2016    0.062081
2010    0.057436
2009    0.052679
2008    0.048455
2007    0.031383
2006    0.025448
2005    0.022832
2004    0.021240
Name: Year Patron Registered, dtype: float64

In [7]:
#Wie viel Prozent der Kunden sind zwischen 25 und 34 Jahren?
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [13]:
#Wie hoch ist der Modus von Age Range, d.h. welcher Wert taucht am häufigsten auf?
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

In [14]:
#Wie oft kommten in der Spalte Age Range fehlende Werte vor?
df['Age Range'].isna().sum()

215

In [17]:
#Die fehlenden Werte in der Spalte Age Range sollen durch den Modus ersetzt werden
age_mode = df['Age Range'].mode()[0]
df['Age Range'].fillna(age_mode, inplace=True)

In [18]:
#Jetzt dürften in der Spalte Age Range keine fehlendem Werte mehr vorkommen
df['Age Range'].isna().sum()

0

In [5]:
#Welche anderen Strategien gibt es, um fehlende Werte zu ersetzen?
#??? - Musterlösung:
df['Total Renewals'].agg(lambda x: x.std()/x.mean())

3.7717062851167245

In [6]:
#Zweite Musterlösung:
df['Total Renewals'].std()/df['Total Renewals'].mean()

3.7717062851167245