In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [12]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
columm_names = ['Total Renewals', 'Total Checkouts'] # Dies ist eine Hilfsvariable (Alternativ zu Zeile 2)
subset = df[column_names]
print(x)
print(subset)

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]

In [15]:
#Berechnungen auf bestehende Variablen können direkt einer neuen Spalte zugeordnet werden. Erstes Bsp.:
#Hier wird zuerst die Anweisung df['Patron Type Definition'] == 'ADULT' durchgeführt. 
#Das implizite Ergebnis dieser Anweisung ist eine Series mit bool'schen Werten True/False. 
#Diese neu erstellte Series wird dann in einer neuen Spalte "is adult" dem DataFrame angehängt.
import numpy as np
df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District',
       'is_adult'],
      dtype='object')

In [16]:
#Zweites Bsp.:
#Hier wird der Logarithmus auf den Werten der Spalte Total Renewals berechnet. 
#Dieser wird einer neu erstellte Spalte "log_renewals" zugewiesen.
import numpy as np
df['log_renewals'] = np.log(df['Total Renewals'] + 1)
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District',
       'is_adult', 'log_renewals'],
      dtype='object')

In [18]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,True,2.484907